{% load static %}

{% block body %}

{% include 'admin_navigation.html' %}

<head>
  <title>Admin Home - HireMe</title>
</head>

<style>

.body {
    background-color: #fde7f9;
background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
}

</style>


<div style="background-color:#232323; position: fixed;
bottom: 0; width: 100%; padding: 15px 10px 10px 10px; text-align:center;">
  <h6 style="color:white;"><b>Copyright&nbsp;<i class="fa fa-copyright fa-fw"></i>&nbsp;2021 Rohit Mahajan IND, Inc. All rights reserved.&nbsp;(088-5693-0080)</b></h6>
<div>
{% endblock body %}