{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}

<head>
  <title>Change Recruiter Password - HireMe</title>
</head>


<nav class="navbar navbar-dark bg-dark"
    style="width:80%; margin-top:40px; margin-left:auto; margin-right:auto; border-radius: 30px;">
    <div class="container-fluid">
        <h3 style="color:white; margin-left:auto; margin-right:auto;"><i class="fa fa-user-circle-o fa-fw"
                aria-hidden="true"></i>&nbsp;<b>Change Password</b>
            <h3>
    </div>
</nav>


<div style="margin-top:30px; margin-left:auto; margin-right:auto; width:40%;">
    <form method="post" onsubmit="return checkpass()" name="changepassword">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Current Password</label>
            <input type="password" class="form-control" name="currentpassword" required>
        </div>
        
        <div class="mb-3">
            <label class="form-label">New Password</label>
            <input type="password" class="form-control" name="newpassword" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" name="confirmpassword" required>
        </div>

        <button type="submit" class="btn btn-primary">Change</button>
    </form>
</div>


{% ifequal error "no"  %}
<script>
    alert("Password Changed Successfully!")
    window.location = ('{% url 'Logout' %}')
</script>
{% endifequal %}

{% ifequal error "yes"  %}
<script>
    alert("Something went wrong!");
</script>
{% endifequal %}

{% ifequal error "not"  %}
<script>
    alert("Your current password is wrong!");
</script>
{% endifequal %}


<script>
function checkpass(){
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value){
        alert("New Password and Confirm Password do not match!");
        document.changepassword.confirmpassword.focus();
        return false;
    }
    return true;
}
</script>

{% include 'footer.html' %}
{% endblock body %}